@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: 167, 27, 74; /* #A71B4A*/
    --color-secondary: 74, 76, 90; /* #4a4c5a*/
    --color-tertiary: 24, 56, 132; /* #183884 */

    --bg-primary: 24, 56, 132; /* #183884 */
    --color-bg: 243, 244, 245; /* #f3f4f5*/
    --color-bg-side: 252, 251, 255; /* #fcfdff*/
    --color-bg-black: 0, 0, 0;
    --digital-category-bgc: #ade8f4;
    --fashion-category-bgc: #ffddd2;
    --beauty-category-bgc: #ddd92a;
    --sport-category-bgc: #ffd60a;
    --house-category-bgc: #ccd5ae;
    --toy-category-bgc: #cce3de;
    --stationery-category-bgc: #fbb13c;
    --footer-bgc: #2e353b;

    --color-text-base: 66, 71, 80; /* #424750*/
    --color-text-muted: 107, 114, 128; /*#6b7280*/
    --color-text-side: 255, 231, 231; /*#fff*/
  }

  .dark {
    --bg-primary: 24, 56, 132; /* #183884 */
    --color-bg: 243, 244, 245; /* #f3f4f5*/
    --color-bg-side: 252, 251, 255; /* #fcfdff*/
    --color-bg-black: 0, 0, 0;
    --digital-category-bgc: #ade8f4;
    --fashion-category-bgc: #ffddd2;
    --beauty-category-bgc: #ddd92a;
    --sport-category-bgc: #ffd60a;
    --house-category-bgc: #ccd5ae;
    --toy-category-bgc: #cce3de;
    --stationery-category-bgc: #fbb13c;

    --color-text-base: 66, 71, 80; /* #424750*/
    --color-text-muted: 107, 114, 128; /*#6b7280*/
    --color-text-side: 255, 231, 231; /*#fff*/
  }

  html {
    --font-family: "Roboto", "sans-serif";
  }
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
  background-color: rgb(var(--color-bg));
  color: rgb(var(--color-text-base));
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.slick-dots li button::before {
  font-size: 12px !important;
}

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 0.45 !important;
}

.slick-prev:before,
.slick-next:before {
  opacity: 9 !important;
  content: "" !important;
}

@media (min-width: 1024px) {
  .slick-dots li button:before {
    font-size: 12px;
  }
  .slick-dots {
    padding-bottom: 40px !important;
  }
}

::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}

::-webkit-scrollbar-track {
  background-color: rgb(var(--color-bg));
}

::-webkit-scrollbar-thumb {
  background-color: #183884;
}

/* input */

select {
  font-family: inherit;
  color: inherit;
  font-size: inherit;
}

input {
  font-family: inherit;
  display: block;
  color: black;
}

select:focus {
  background-color: transparent;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  box-shadow: 0 0 0px 1000px transparent inset;
  transition: background-color 5000s ease-in-out 0s;
}

::placeholder {
  color: #b9b9b9;
  font-size: 14px;
}

/* About Video */
.video-container {
  height: 300px;
  position: relative;
  width: 300px;
}

.video-container video {
  height: 100%;
  object-fit: cover;
  position: fixed;
  width: 100%;
  z-index: 0;
}

/* Second Slider */
.homeSlide {
  background-color: white;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: -1px 4px 8px -1px rgba(148, 148, 148, 1);
  -webkit-box-shadow: -1px 4px 8px -1px rgba(148, 148, 148, 1);
  -moz-box-shadow: -1px 4px 8px -1px rgba(148, 148, 148, 1);
}

.homeSlide .box {
  margin-top: 80px;
  padding: 0 40px 60px;
}

.homeSlide h1 {
  font-size: 45px;
  line-height: 55px;
  margin: 50px 0 20px 0;
}

.homeSlide p {
  margin: 20px 0;
}

.homeSlide ul {
  position: absolute;
  bottom: 20px;
}

.homeSlide ul li {
  border: 2px solid #b8b7b7;
  border-radius: 50%;
  padding: 10px;
}

.homeSlide ul li button {
  background: transparent !important;
  color: transparent !important;
}

.homeSlide ul li button::before {
  font-size: 15px !important;
  color: #0f3460;
  position: absolute;
  top: 2px;
  left: 0;
  margin: auto;
}

.homeSlide .box img {
  width: 100%;
  max-height: 300px;
  object-fit: contain;
}
